<footer class="footer">
  <div class="footer-links">
    <a class="footer-link" href="#">Footer Link 1</a>
    <a class="footer-link" href="#">Footer Link 2</a>
    <a class="footer-link" href="#">Footer Link 3</a>
    <a class="footer-link" href="#">Footer Link 4</a>
    <a class="footer-link" href="#">Footer Link 5</a>
  </div>
</footer>