<nav class="nav">
  <div class="nav-links">
    <a class="nav-link" href="#">Nav Link 1</a>
    <a class="nav-link" href="#">Nav Link 2</a>
    <a class="nav-link" href="#">Nav Link 3</a>
    <a class="nav-link" href="#">Nav Link 4</a>
    <a class="nav-link" href="#">Nav Link 5</a>
  </div>
</nav>