RewriteEngine On

RewriteCond $0 !^(index\.php/)?admin
RewriteCond %{HTTP_HOST} ^admin\.
RewriteRule ^.*$ /wp/$0 [L]

RewriteCond $0 !^(index\.php/)?wp
RewriteCond %{HTTP_HOST} ^wp\.
RewriteRule ^.*$ /wp/$0 [L]

# DirectoryIndex app/200.html
# If requested resource is not a file or directory then redirect to /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ app/200.html [NC,L]